[{:itonami.blueprint/social-impact [:food-security :rural-livelihoods :worker-safety], :itonami.blueprint/domain :agriculture/crop-farm-labour, :itonami.blueprint/required-technologies [:robotics :telemetry :forms :audit-ledger :bpmn], :itonami.blueprint/isco-08 "9211", :itonami.blueprint/name "Independent Crop Farm Labour Practice", :itonami.blueprint/governor :crop-farm-labour-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-9211", :itonami.blueprint/license "AGPL-3.0-or-later", :itonami.blueprint/maturity :implemented}]